<!--{{define "page1"}}<!-- start template-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Echo</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Page 1</h1><br/>
    <h1>{{.Name}}!</h1><br/>
    <h1>{{.Title}}!</h1><br/>
    <a href="/page2">Go to Page 2</a>
</body>
</html>
{{end}}